<a name="top"></a>

In [1]:
# Programa FLAI Dominando Data Science 3.0
# FLAI Projeto Copa 2022
# by geanclm in 21/10/2022
# update in 18/11/2022 at 00:28h

#### Sessão
[Oitavas](#oitavas)<br>
[Quartas](#quartas)<br>
[Semifinais](#semifinais)

In [2]:
import pandas as pd

In [3]:
# PRIMEIRO DATASET recebido em 17/10/2022
# url = r'C:\Users\geanc\Downloads\DATA SCIENCE\FLAI\Programa FLAI Dominando Data Science 3.0\FLAI Projeto Copa 2022\primeira_simulação_copa_qatar_2022.xlsx'

In [4]:
# TERCEIRO DATASET recebido em 18/11/2022
url = r'C:\Users\geanc\Downloads\DATA SCIENCE\FLAI\Programa FLAI Dominando Data Science 3.0\FLAI Projeto Copa 2022\18-11-2022\outputSimulaçõesCopa(n=1000000).xlsx'

In [5]:
df = pd.read_excel(url)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   equipe      32 non-null     object
 1   1st         32 non-null     float64
 2   2nd         32 non-null     float64
 3   3th         32 non-null     float64
 4   4th         32 non-null     float64
 5   oitavas     32 non-null     float64
 6   quartas     32 non-null     float64
 7   semifinais  32 non-null     float64
 8   quarto      32 non-null     float64
 9   terceiro    32 non-null     float64
 10  final       32 non-null     float64
 11  vice        32 non-null     float64
 12  vencedor    32 non-null     float64
 13  gols        32 non-null     float64
 14  partidas    32 non-null     float64
 15  grupo       32 non-null     object
 16  continente  32 non-null     object
 17  títulos     32 non-null     int64
 18  rank1st     32 non-null     int64
 19  rank2nd     32 non-null     int64
dtypes: float64(14), int64(3), object(3)
memory usage: 5.1+ KB

In [7]:
# renomear colunas
df.columns = ['equipe', '1st','2nd','3th','4th','oitavas','quartas','semifinais',
              'quarto','terceiro','final','vice','vencedor','gols','partidas']

In [8]:
# coluna dos grupos de cada seleção
grupo = {
    'Catar':'A', 'Equador':'A','Senegal':'A','Holanda':'A',
    'Inglaterra':'B', 'Irã':'B','Estados Unidos':'B','País de Gales':'B',
    'Argentina':'C', 'Arábia Saudita':'C','México':'C','Polônia':'C',
    'França':'D', 'Austrália':'D','Dinamarca':'D','Tunísia':'D',
    'Espanha':'E', 'Costa Rica':'E','Alemanha':'E','Japão':'E',
    'Bélgica':'F', 'Canadá':'F','Marrocos':'F','Croácia':'F',
    'Brasil':'G', 'Sérvia':'G', 'Suíça':'G', 'Camarões':'G',
    'Portugal':'H', 'Uruguai':'H', 'Coreia do Sul':'H', 'Gana':'H'
       }

df['grupo'] = df['equipe'].map(grupo)

In [9]:
# coluna dos continentes de cada seleção
continente = {
    'Catar':'Ásia', 'Equador':'América','Senegal':'África','Holanda':'Europa',
    'Inglaterra':'Europa', 'Irã':'Ásia','Estados Unidos':'América','País de Gales':'Europa',
    'Argentina':'América', 'Arábia Saudita':'Ásia','México':'América','Polônia':'Europa',
    'França':'Europa', 'Austrália':'Oceania','Dinamarca':'Europa','Tunísia':'África',
    'Espanha':'Europa', 'Costa Rica':'América','Alemanha':'Europa','Japão':'Ásia',
    'Bélgica':'Europa', 'Canadá':'América','Marrocos':'África','Croácia':'Europa',
    'Brasil':'América', 'Sérvia':'Europa', 'Suíça':'Europa', 'Camarões':'África',
    'Portugal':'Europa', 'Uruguai':'América', 'Coreia do Sul':'Ásia', 'Gana':'África'
       }

df['continente'] = df['equipe'].map(continente)

In [10]:
# coluna com títulos de cada seleção
títulos = {
    'Catar':0, 'Equador':0,'Senegal':0,'Holanda':0,
    'Inglaterra':1, 'Irã':0,'Estados Unidos':0,'País de Gales':0,
    'Argentina':2, 'Arábia Saudita':0,'México':0,'Polônia':0,
    'França':2, 'Austrália':0,'Dinamarca':0,'Tunísia':0,
    'Espanha':1, 'Costa Rica':0,'Alemanha':4,'Japão':0,
    'Bélgica':0, 'Canadá':0,'Marrocos':0,'Croácia':0,
    'Brasil':5, 'Sérvia':0, 'Suíça':0, 'Camarões':0,
    'Portugal':0, 'Uruguai':2, 'Coreia do Sul':0, 'Gana':0
       }

df['títulos'] = df['equipe'].map(títulos)

In [83]:
df.head()

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
0,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
1,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
2,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2
3,França,0.515296,0.318469,0.123889,0.042346,0.833765,0.487821,0.298768,0.059917,0.078021,0.160830,0.076263,0.084567,8.570135,4.919122,D,Europa,2,1,2
4,Espanha,0.475274,0.301830,0.156474,0.066422,0.777104,0.460613,0.249520,0.047256,0.062561,0.139703,0.065074,0.074629,7.965765,4.736757,E,Europa,1,1,2

In [12]:
# df.T

In [13]:
# EXPORTAR dataframe para planilha excel .xlsx
df.to_excel('df.xlsx')

### Rank das equipes na primeira fase

In [14]:
# RANK DE CADA GRUPO 1st
dic1 = {}
for i in (set(df['grupo'])):
    indicador = 0
    for i in (sorted(df['1st'].loc[df['grupo']==i],reverse=True)):
        indicador += 1
        dic1[i] = indicador

In [15]:
# aplicar variável com valor de rank
df['rank1st'] = df['1st'].map(dic1)

In [16]:
# RANK DE CADA GRUPO 2nd
dic2 = {}
for i in (set(df['grupo'])):
    indicador = 0
    for i in (sorted(df['2nd'].loc[df['grupo']==i],reverse=True)):
        indicador += 1
        dic2[i] = indicador

In [17]:
# aplicar variável com valor de rank
df['rank2nd'] = df['2nd'].map(dic2)

In [18]:
# CLASSIFICAÇÃO DE CADA GRUPO
for i in (set(df['grupo'])):
    display (df.loc[df['grupo']==i])

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
6,Inglaterra,0.488366,0.264455,0.158099,0.089080,0.752821,0.490710,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2
14,Estados Unidos,0.210360,0.272096,0.270264,0.247280,0.482456,0.244958,0.098942,0.035978,0.024483,0.038481,0.024030,0.014451,5.193697,3.925298,B,América,0,2,1
16,Irã,0.162794,0.242675,0.286177,0.308354,0.405469,0.193534,0.072903,0.028549,0.017995,0.026359,0.017181,0.009178,4.643528,3.744809,B,Ásia,0,3,3
18,País de Gales,0.138480,0.220774,0.285460,0.355286,0.359254,0.163954,0.058763,0.024635,0.014093,0.020035,0.013342,0.006693,4.316487,3.640734,B,Europa,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
4,Espanha,0.475274,0.301830,0.156474,0.066422,0.777104,0.460613,0.249520,0.047256,0.062561,0.139703,0.065074,0.074629,7.965765,4.736757,E,Europa,1,1,2
9,Alemanha,0.350109,0.339204,0.208098,0.102589,0.689313,0.367832,0.181111,0.044066,0.045183,0.091862,0.048702,0.043160,6.837999,4.419367,E,Europa,4,2,1
20,Japão,0.117685,0.221034,0.348512,0.312769,0.338719,0.128260,0.045697,0.018341,0.010348,0.017008,0.011463,0.005545,4.147106,3.558373,E,Ásia,0,3,3
24,Costa Rica,0.056932,0.137932,0.286916,0.518220,0.194864,0.058562,0.016656,0.008441,0.003233,0.004982,0.003754,0.001228,3.053286,3.286738,E,América,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
7,Portugal,0.482109,0.329693,0.179687,0.008511,0.811802,0.423624,0.222147,0.049575,0.055476,0.117096,0.059604,0.057492,8.254857,4.679720,H,Europa,0,1,2
10,Uruguai,0.362353,0.376561,0.247689,0.013397,0.738914,0.342052,0.162129,0.044632,0.040624,0.076873,0.043141,0.033732,7.323056,4.405224,H,América,2,2,1
21,Coreia do Sul,0.154866,0.287705,0.515634,0.041795,0.442571,0.141881,0.048276,0.020910,0.011007,0.016359,0.011404,0.004955,5.102903,3.681004,H,Ásia,0,3,3
31,Gana,0.000672,0.006041,0.056990,0.936297,0.006713,0.000431,0.000023,0.000019,0.000002,0.000002,0.000002,0.000000,0.705574,3.007190,H,África,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
3,França,0.515296,0.318469,0.123889,0.042346,0.833765,0.487821,0.298768,0.059917,0.078021,0.160830,0.076263,0.084567,8.570135,4.919122,D,Europa,2,1,2
8,Dinamarca,0.374982,0.379671,0.174644,0.070703,0.754653,0.391428,0.217145,0.057307,0.056739,0.103099,0.055609,0.047490,7.328872,4.580371,D,Europa,0,2,1
26,Austrália,0.057771,0.155785,0.355869,0.430575,0.213556,0.058130,0.018081,0.009795,0.003664,0.004622,0.003508,0.001114,3.197005,3.307848,D,Oceania,0,3,3
27,Tunísia,0.051951,0.146075,0.345598,0.456376,0.198026,0.052944,0.016147,0.009079,0.003243,0.003825,0.002915,0.000910,3.118863,3.283264,D,África,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
2,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2
11,Croácia,0.283690,0.356433,0.233715,0.126162,0.640123,0.311100,0.142139,0.040039,0.035264,0.066836,0.037782,0.029054,6.255945,4.235501,F,Europa,0,2,1
22,Marrocos,0.107457,0.221937,0.346901,0.323705,0.329394,0.116709,0.038645,0.016536,0.008879,0.013230,0.009039,0.004191,4.018321,3.523393,F,África,0,3,3
25,Canadá,0.056546,0.147718,0.293943,0.501793,0.204264,0.058244,0.015621,0.008014,0.003203,0.004404,0.003273,0.001131,3.083615,3.293750,F,América,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
5,Holanda,0.640772,0.233229,0.096316,0.029683,0.874001,0.524251,0.274207,0.061214,0.074774,0.138219,0.067623,0.070596,8.854789,4.946666,A,Europa,0,1,3
19,Senegal,0.174291,0.336928,0.309899,0.178882,0.511219,0.189984,0.062077,0.029090,0.013775,0.019212,0.013638,0.005574,4.994682,3.825357,A,África,0,2,1
23,Equador,0.149055,0.305863,0.332168,0.212914,0.454918,0.158109,0.047952,0.023925,0.010279,0.013748,0.009957,0.003791,4.614881,3.708931,A,América,0,3,2
28,Catar,0.035882,0.123980,0.261617,0.578521,0.159862,0.034500,0.006734,0.004433,0.001070,0.001231,0.001025,0.000206,2.655698,3.207830,A,Ásia,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
1,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
12,México,0.236387,0.389613,0.288485,0.085515,0.626000,0.282976,0.138530,0.046772,0.034785,0.056973,0.034376,0.022597,6.168249,4.186036,C,América,0,2,1
17,Polônia,0.135387,0.295432,0.414510,0.154671,0.430819,0.161868,0.067224,0.028614,0.015708,0.022902,0.015479,0.007423,4.807381,3.727135,C,Europa,0,3,2
30,Arábia Saudita,0.011908,0.057045,0.190810,0.740237,0.068953,0.012138,0.002435,0.001702,0.000366,0.000367,0.000313,0.000054,1.886122,3.085961,C,Ásia,0,4,4

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
0,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
13,Suíça,0.204058,0.369153,0.315595,0.111194,0.573211,0.275860,0.124550,0.038155,0.030426,0.055969,0.033454,0.022515,5.875920,4.098171,G,Europa,0,2,1
15,Sérvia,0.148411,0.317097,0.378761,0.155731,0.465508,0.202597,0.081764,0.029063,0.019111,0.033590,0.021526,0.012064,5.064568,3.831633,G,Europa,0,3,2
29,Camarões,0.014711,0.067562,0.204943,0.712784,0.082273,0.017564,0.003454,0.002232,0.000521,0.000701,0.000565,0.000136,2.036449,3.106745,G,África,0,4,4

<a name=""></a>
<center style="font-size:18pt; background-color:#0f79b6">
    <br/>
        <b style="color: #ffffff">
         TRATANDO PRIMEIRO E SEGUNDO LUGAR, em caso de empate prob
            <br/>&nbsp;
</center>

In [19]:
# by geanclm in 11/2022
# Essa parte está parada, pois o modelo conseguiu rodar sem empate de probabilidade para 1st e 2nd

In [20]:
# Analisando casos em uma seleção fica primeiro em 1st 2 primeiro em 2nd

In [21]:
# df_grupoA = df.loc[(df['grupo']=='A')]

In [22]:
# df_grupoA.iat[3,0] = 'geanclm'

In [23]:
# df_grupoA['rank2nd'].replace(1,0,inplace=True)

In [24]:
# df_grupoA['rank2nd'].replace(2,1,inplace=True)

In [25]:
# df_grupoA['rank2nd'].replace(0,2,inplace=True)

In [86]:
df.loc[(df['grupo']=='A')]

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
5,Holanda,0.640772,0.233229,0.096316,0.029683,0.874001,0.524251,0.274207,0.061214,0.074774,0.138219,0.067623,0.070596,8.854789,4.946666,A,Europa,0,1,3
19,Senegal,0.174291,0.336928,0.309899,0.178882,0.511219,0.189984,0.062077,0.029090,0.013775,0.019212,0.013638,0.005574,4.994682,3.825357,A,África,0,2,1
23,Equador,0.149055,0.305863,0.332168,0.212914,0.454918,0.158109,0.047952,0.023925,0.010279,0.013748,0.009957,0.003791,4.614881,3.708931,A,América,0,3,2
28,Catar,0.035882,0.123980,0.261617,0.578521,0.159862,0.034500,0.006734,0.004433,0.001070,0.001231,0.001025,0.000206,2.655698,3.207830,A,Ásia,0,4,4

In [27]:
df.loc[(df['grupo']=='A')].sort_values(by=['1st'], ascending=False).head(1).iloc[0,0]

'Holanda'

In [28]:
df.loc[(df['grupo']=='A')].sort_values(by=['2nd'], ascending=False).head(1).iloc[0,0]

'Senegal'

In [29]:
# Holanda com maior probabilidade para segundo colocado na col 2nd. Correto, pois Senegal é o mais cotado para 2nd
df.loc[(df['grupo']=='A')].sort_values(by=['2nd'], ascending=False).head(2).iloc[1,0]

'Equador'

In [30]:
# df.loc[(df['grupo']=='A')&(df['rank2nd']==1)].iloc[0,14]

In [31]:
# df.loc[(df['grupo']=='A')].iat[0,14] = 777

In [32]:
# df_grupoA

In [33]:
# df_grupoA.iat[0,12] = 777

In [34]:
# df.loc[(df['grupo']=='A')].iat[0,14] = 777

In [35]:
# df.loc[(df['grupo']=='A')].iloc[0,14]
# df.loc[(df['grupo']=='A')&(df['rank2nd']==2)].replace(2,555,inplace=False)
# df.loc[(df['grupo']=='A')]['rank2nd'].replace(2,555,inplace=True)

<a name=""></a>
<center style="font-size:18pt; background-color:#0f79b6">
    <br/>
        <b style="color: #ffffff">
         ... FINAL DO SCRIPT
            <br/>&nbsp;
</center>

<a name="oitavas"></a>
<center style="font-size:18pt; background-color:#77002a">
    <br/>
        <b style="color: #FFFFFF">
            OITAVAS DE FINAL
        </b>
    <br/>&nbsp;
</center>

[Consultar site pandas](https://pandas.pydata.org/)

[Voltar ao topo do notebook](#top)

In [36]:
# CLASSIFICAÇÃO 16 melhores seleções PARA OITAVAS DE FINAL
df_oitavas = df.loc[(df['rank1st']==1) | (df['rank2nd']==1)]

In [37]:
df_oitavas

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
0,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
1,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
2,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2
3,França,0.515296,0.318469,0.123889,0.042346,0.833765,0.487821,0.298768,0.059917,0.078021,0.160830,0.076263,0.084567,8.570135,4.919122,D,Europa,2,1,2
4,Espanha,0.475274,0.301830,0.156474,0.066422,0.777104,0.460613,0.249520,0.047256,0.062561,0.139703,0.065074,0.074629,7.965765,4.736757,E,Europa,1,1,2
5,Holanda,0.640772,0.233229,0.096316,0.029683,0.874001,0.524251,0.274207,0.061214,0.074774,0.138219,0.067623,0.070596,8.854789,4.946666,A,Europa,0,1,3
6,Inglaterra,0.488366,0.264455,0.158099,0.089080,0.752821,0.490710,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2
7,Portugal,0.482109,0.329693,0.179687,0.008511,0.811802,0.423624,0.222147,0.049575,0.055476,0.117096,0.059604,0.057492,8.254857,4.679720,H,Europa,0,1,2
8,Dinamarca,0.374982,0.379671,0.174644,0.070703,0.754653,0.391428,0.217145,0.057307,0.056739,0.103099,0.055609,0.047490,7.328872,4.580371,D,Europa,0,2,1
9,Alemanha,0.350109,0.339204,0.208098,0.102589,0.689313,0.367832,0.181111,0.044066,0.045183,0.091862,0.048702,0.043160,6.837999,4.419367,E,Europa,4,2,1
10,Uruguai,0.362353,0.376561,0.247689,0.013397,0.738914,0.342052,0.162129,0.044632,0.040624,0.076873,0.043141,0.033732,7.323056,4.405224,H,América,2,2,1
11,Croácia,0.283690,0.356433,0.233715,0.126162,0.640123,0.311100,0.142139,0.040039,0.035264,0.066836,0.037782,0.029054,6.255945,4.235501,F,Europa,0,2,1
12,México,0.236387,0.389613,0.288485,0.085515,0.626000,0.282976,0.138530,0.046772,0.034785,0.056973,0.034376,0.022597,6.168249,4.186036,C,América,0,2,1
13,Suíça,0.204058,0.369153,0.315595,0.111194,0.573211,0.275860,0.124550,0.038155,0.030426,0.055969,0.033454,0.022515,5.875920,4.098171,G,Europa,0,2,1
14,Estados Unidos,0.210360,0.272096,0.270264,0.247280,0.482456,0.244958,0.098942,0.035978,0.024483,0.038481,0.024030,0.014451,5.193697,3.925298,B,América,0,2,1
19,Senegal,0.174291,0.336928,0.309899,0.178882,0.511219,0.189984,0.062077,0.029090,0.013775,0.019212,0.013638,0.005574,4.994682,3.825357,A,África,0,2,1

In [38]:
# EXPORTAR dataframe para planilha excel .xlsx
df_oitavas.to_excel('df_oitavas.xlsx')

In [89]:
# PARTIDA 49
A1B2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='A') | (df_oitavas['grupo']=='B') ) &
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='A')) |
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='B'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [88]:
A1B2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
5,Holanda,0.640772,0.233229,0.096316,0.029683,0.874001,0.524251,0.274207,0.061214,0.074774,0.138219,0.067623,0.070596,8.854789,4.946666,A,Europa,0,1,3
14,Estados Unidos,0.210360,0.272096,0.270264,0.247280,0.482456,0.244958,0.098942,0.035978,0.024483,0.038481,0.024030,0.014451,5.193697,3.925298,B,América,0,2,1

In [41]:
# PARTIDA 50
C1D2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='C') | (df_oitavas['grupo']=='D') ) &
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='C')) |
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='D'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [42]:
C1D2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
1,Argentina,0.616318,0.25791,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.08453,0.119939,9.525226,5.140393,C,América,2,1,3

In [43]:
# PARTIDA 51
B1A2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='A') | (df_oitavas['grupo']=='B') ) &
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='A')) |
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='B'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [44]:
B1A2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
6,Inglaterra,0.488366,0.264455,0.158099,0.08908,0.752821,0.49071,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2

In [45]:
# PARTIDA 52
D1C2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='C') | (df_oitavas['grupo']=='D') ) &
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='C')) |
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='D'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [46]:
D1C2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
3,França,0.515296,0.318469,0.123889,0.042346,0.833765,0.487821,0.298768,0.059917,0.078021,0.16083,0.076263,0.084567,8.570135,4.919122,D,Europa,2,1,2

In [47]:
# PARTIDA 53
E1F2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='F') | (df_oitavas['grupo']=='E') ) &
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='F')) |
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='E'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [48]:
E1F2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
4,Espanha,0.475274,0.30183,0.156474,0.066422,0.777104,0.460613,0.24952,0.047256,0.062561,0.139703,0.065074,0.074629,7.965765,4.736757,E,Europa,1,1,2

In [49]:
# PARTIDA 54
G1H2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='G') | (df_oitavas['grupo']=='H') ) &
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='G')) |
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='H'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [50]:
G1H2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
0,Brasil,0.63282,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.09169,0.242368,0.08919,0.153178,9.875042,5.238611,G,América,5,1,3

In [92]:
# PARTIDA 55
F1E2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='F') | (df_oitavas['grupo']=='E') ) &
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='F')) |
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='E'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [93]:
F1E2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
2,Bélgica,0.552307,0.273912,0.125441,0.04834,0.826219,0.49868,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

In [53]:
# PARTIDA 56
H1G2 = df_oitavas.loc[
        ((df_oitavas['grupo']=='G') | (df_oitavas['grupo']=='H') ) &
        ((df_oitavas['rank1st']== 2) & (df_oitavas['grupo']=='G')) |
        ((df_oitavas['rank1st']== 1) & (df_oitavas['grupo']=='H'))
              ].sort_values(by=['oitavas'], ascending=False).head(1)

In [54]:
H1G2

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
7,Portugal,0.482109,0.329693,0.179687,0.008511,0.811802,0.423624,0.222147,0.049575,0.055476,0.117096,0.059604,0.057492,8.254857,4.67972,H,Europa,0,1,2

<a name="quartas"></a>
<center style="font-size:18pt; background-color:#77002a">
    <br/>
        <b style="color: #FFFFFF">
            QUARTAS DE FINAL
        </b>
    <br/>&nbsp;
</center>

[Consultar site pandas](https://pandas.pydata.org/)

[Voltar ao topo do notebook](#top)

In [55]:
jogo = [54,56,49,52,50,51,53,55] # vencedor de cada partida das oitavas
df_quartas = pd.concat([G1H2,H1G2,A1B2,D1C2,C1D2,B1A2,E1F2,F1E2])
df_quartas['jogo'] = jogo
df_quartas.set_index('jogo',inplace=True)

In [56]:
len(df_quartas)

8

In [57]:
df_quartas

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
54,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
56,Portugal,0.482109,0.329693,0.179687,0.008511,0.811802,0.423624,0.222147,0.049575,0.055476,0.117096,0.059604,0.057492,8.254857,4.679720,H,Europa,0,1,2
49,Holanda,0.640772,0.233229,0.096316,0.029683,0.874001,0.524251,0.274207,0.061214,0.074774,0.138219,0.067623,0.070596,8.854789,4.946666,A,Europa,0,1,3
52,França,0.515296,0.318469,0.123889,0.042346,0.833765,0.487821,0.298768,0.059917,0.078021,0.160830,0.076263,0.084567,8.570135,4.919122,D,Europa,2,1,2
50,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
51,Inglaterra,0.488366,0.264455,0.158099,0.089080,0.752821,0.490710,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2
53,Espanha,0.475274,0.301830,0.156474,0.066422,0.777104,0.460613,0.249520,0.047256,0.062561,0.139703,0.065074,0.074629,7.965765,4.736757,E,Europa,1,1,2
55,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

In [58]:
# EXPORTAR dataframe para planilha excel .xlsx
df_quartas.to_excel('df_quartas.xlsx')

In [59]:
# JOGO 57 - resultado [vencedor 49 x vencedor 50]
J57 = df_quartas.loc[[49,50]].sort_values(by=['quartas'], ascending=False).head(1)
jogo = [57] # resultado jogo
J57['jogo'] = jogo
J57.set_index('jogo',inplace=True)
J57

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
57,Argentina,0.616318,0.25791,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.08453,0.119939,9.525226,5.140393,C,América,2,1,3

In [95]:
# JOGO 58 - resultado [vencedor 53 x vencedor 54]
J58 = df_quartas.loc[[53,54]].sort_values(by=['quartas'], ascending=False).head(1)
jogo = [58] # resultado jogo
J58['jogo'] = jogo
J58.set_index('jogo',inplace=True)
J58

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
58,Brasil,0.63282,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.09169,0.242368,0.08919,0.153178,9.875042,5.238611,G,América,5,1,3

In [61]:
# JOGO 59 - resultado [vencedor 51 x vencedor 52]
J59 = df_quartas.loc[[51,52]].sort_values(by=['quartas'], ascending=False).head(1)
jogo = [59] # resultado jogo
J59['jogo'] = jogo
J59.set_index('jogo',inplace=True)
J59

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
59,Inglaterra,0.488366,0.264455,0.158099,0.08908,0.752821,0.49071,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2

In [62]:
# JOGO 60 - resultado [vencedor 55 x vencedor 56]
J60 = df_quartas.loc[[55,56]].sort_values(by=['quartas'], ascending=False).head(1)
jogo = [60] # resultado jogo
J60['jogo'] = jogo
J60.set_index('jogo',inplace=True)
J60

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
60,Bélgica,0.552307,0.273912,0.125441,0.04834,0.826219,0.49868,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

<a name="semifinais"></a>
<center style="font-size:18pt; background-color:#77002a">
    <br/>
        <b style="color: #FFFFFF">
            SEMIFINAIS
        </b>
    <br/>&nbsp;
</center>

[Consultar site pandas](https://pandas.pydata.org/)

[Voltar ao topo do notebook](#top)

In [63]:
df_semifinais = pd.concat([J57,J58,J59,J60])

In [64]:
df_semifinais

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
57,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
58,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
59,Inglaterra,0.488366,0.264455,0.158099,0.089080,0.752821,0.490710,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2
60,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

In [65]:
# EXPORTAR dataframe para planilha excel .xlsx
df_semifinais.to_excel('df_semifinais.xlsx')

In [66]:
# JOGO 61 - VENCEDOR jogo [vencedor 57 x vencedor 58]
J61 = df_semifinais.loc[[57,58]].sort_values(by=['semifinais'], ascending=False).head(1)
J61.reset_index(inplace = False)
jogo = [61] # resultado jogo
J61['jogo'] = jogo
J61.set_index('jogo',inplace=True)
J61

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Brasil,0.63282,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.09169,0.242368,0.08919,0.153178,9.875042,5.238611,G,América,5,1,3

In [67]:
# JOGO 62 - VENCEDOR jogo [vencedor 59 x vencedor 60]
J62 = df_semifinais.loc[[59,60]].sort_values(by=['semifinais'], ascending=False).head(1)
J62.reset_index(inplace = False)
jogo = [62] # resultado jogo
J62['jogo'] = jogo
J62.set_index('jogo',inplace=True)
J62

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
62,Bélgica,0.552307,0.273912,0.125441,0.04834,0.826219,0.49868,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

<a name="semifinais"></a>
<center style="font-size:18pt; background-color:#77002a">
    <br/>
        <b style="color: #FFFFFF">
            TERCEIRO LUGAL
        </b>
    <br/>&nbsp;
</center>

In [68]:
# JOGO 61 - PERDEDOR jogo [vencedor 57 x vencedor 58]
J61t = df_semifinais.loc[[57,58]].sort_values(by=['semifinais'], ascending=True).head(1)
J61t.reset_index(inplace = False)
jogo = [61] # resultado jogo
J61t['jogo'] = jogo
J61t.set_index('jogo',inplace=True)
J61t

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Argentina,0.616318,0.25791,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.08453,0.119939,9.525226,5.140393,C,América,2,1,3

In [69]:
# JOGO 62 - PERDEDOR jogo [vencedor 59 x vencedor 50]
J62t = df_semifinais.loc[[59,60]].sort_values(by=['semifinais'], ascending=True).head(1)
J62t.reset_index(inplace = False)
jogo = [62] # resultado jogo
J62t['jogo'] = jogo
J62t.set_index('jogo',inplace=True)
J62t

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
62,Inglaterra,0.488366,0.264455,0.158099,0.08908,0.752821,0.49071,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2

In [70]:
df_terceiro = pd.concat([J61t,J62t])

In [71]:
# JOGO 63 - DISPUTA TERCEIRO LUGAR
df_terceiro

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Argentina,0.616318,0.257910,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.084530,0.119939,9.525226,5.140393,C,América,2,1,3
62,Inglaterra,0.488366,0.264455,0.158099,0.089080,0.752821,0.490710,0.263357,0.056866,0.069122,0.137369,0.067207,0.070162,7.953267,4.770245,B,Europa,1,1,2

### TERCEIRO COLOCADO COPA DO MUNDO 2022

In [72]:
df_terceiro.loc[[61,62]].sort_values(by=['terceiro'], ascending=False).head(1)

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Argentina,0.616318,0.25791,0.106195,0.019577,0.874228,0.552695,0.356735,0.057683,0.094583,0.204469,0.08453,0.119939,9.525226,5.140393,C,América,2,1,3

In [73]:
# exportar dataframe para planilha excel .xls
df_terceiro.to_excel('df_terceiro.xlsx')

<a name="semifinais"></a>
<center style="font-size:18pt; background-color:#77002a">
    <br/>
        <b style="color: #FFFFFF">
            FINAL
        </b>
    <br/>&nbsp;
</center>

In [74]:
df_final = pd.concat([J61,J62])

In [75]:
df_final

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Brasil,0.632820,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.091690,0.242368,0.089190,0.153178,9.875042,5.238611,G,América,5,1,3
62,Bélgica,0.552307,0.273912,0.125441,0.048340,0.826219,0.498680,0.286462,0.049414,0.069772,0.167276,0.075031,0.092245,8.547534,4.897823,F,Europa,0,1,2

In [76]:
# exportar dataframe para planilha excel .xls
df_final.to_excel('df_final.xlsx')

### CAMPEÃO COPA DO MUNDO 2022

In [77]:
df_vencedor = df_final.loc[[61,62]].sort_values(by=['final'], ascending=False).head(1)
df_vencedor

,equipe,1st,2nd,3th,4th,oitavas,quartas,semifinais,quarto,terceiro,final,vice,vencedor,gols,partidas,grupo,continente,títulos,rank1st,rank2nd
jogo,,,,,,,,,,,,,,,,,,,,
61,Brasil,0.63282,0.246188,0.100701,0.020291,0.879008,0.595991,0.381806,0.047748,0.09169,0.242368,0.08919,0.153178,9.875042,5.238611,G,América,5,1,3

<a name="semifinais"></a>
<center style="font-size:18pt; background-color:blue">
    <br/>
        <b style="color: #FFFFFF">
            GERAR DATAFRAME PLACARES
        </b>
    <br/>&nbsp;
</center>

In [78]:
# Programa FLAI Dominando Data Science 3.0
# FLAI Projeto Copa 2022
# by geanclm in 17/11/2022
# update in 18/11/2022 at 11:29h

In [79]:
# variáveis
url = r'C:\Users\geanc\Downloads\DATA SCIENCE\FLAI\Programa FLAI Dominando Data Science 3.0\FLAI Projeto Copa 2022\18-11-2022\outputPlacaresPartidasPROBS.xlsx'

# jogo = ['grupoASenegalxHolanda']

jogo = [
'grupoASenegalxHolanda','grupoACatarxEquador','grupoACatarxSenegal','grupoAHolandaxEquador','grupoAHolandaxCatar','grupoAEquadorxSenegal',
'grupoBInglaterraxIrã','grupoBEstadosUnidosxPaísdeGale','grupoBPaísdeGalesxIrã','grupoBInglaterraxEstadosUnidos','grupoBPaísdeGalesxInglaterra','grupoBIrãxEstadosUnidos',
'grupoCArgentinaxArábiaSaudita','grupoCMéxicoxPolônia','grupoCPolôniaxArábiaSaudita','grupoCArgentinaxMéxico','grupoCPolôniaxArgentina','grupoCArábiaSauditaxMéxico',
'grupoDDinamarcaxTunísia','grupoDFrançaxAustrália','grupoDTunísiaxAustrália','grupoDFrançaxDinamarca','grupoDTunísiaxFrança','grupoDAustráliaxDinamarca',
'grupoEAlemanhaxJapão','grupoEEspanhaxCostaRica','grupoEJapãoxCostaRica','grupoEEspanhaxAlemanha','grupoEJapãoxEspanha','grupoECostaRicaxAlemanha',
'grupoFMarrocosxCroácia','grupoFBélgicaxCanadá','grupoFBélgicaxMarrocos','grupoFCroáciaxCanadá','grupoFCroáciaxBélgica','grupoFCanadáxMarrocos',
'grupoGSuíçaxCamarões','grupoGBrasilxSérvia','grupoGCamarõesxSérvia','grupoGBrasilxSuíça','grupoGCamarõesxBrasil','grupoGSérviaxSuíça',
'grupoHUruguaixCoreiadoSul','grupoHPortugalxGana','grupoHCoreiadoSulxGana','grupoHPortugalxUruguai','grupoHCoreiadoSulxPortugal','grupoHGanaxUruguai'
       ]

s1, s2, prob, p1, p2 = [], [], [], [], []

In [80]:
for i in jogo:
    df_placar = pd.read_excel(url, sheet_name=i, skiprows=0, usecols='A:J')
    df_placar.replace('7+',7,inplace=True)

    # nome seleção 1
    se1 = df_placar.iloc[2,0]

    # nome seleção 2
    se2 = df_placar.columns[2]

    # remover linhas
    df_placar = df_placar.drop([0,1])

    # remover coluna
    df_placar.drop(columns = ['Unnamed: 0'], inplace=True)

    # renomear colunas
    df_placar.columns = ['x',0,1,2,3,4,5,6,7]

    df_placar.set_index('x',inplace=True)

    # deixar em porcentagem os valores de cada placar
    df_placar = df_placar*100

    # separar gols de cada seleção para a maior probabilidade
    # prob = np.max(df_placar[1])
    # prob = df_placar.max()[0]    
    # prob = sorted(np.max(df_placar),reverse=True)[0]
    probabilidade = sorted(df_placar.max(axis=0),reverse=True)[0]    
    pl1 = df_placar.idxmax().head(1)[0]
    pl2 = df_placar.T.idxmax().head(1)[0]

    s1.append(se1)
    s2.append(se2)
    prob.append(probabilidade)
    p1.append(pl1)
    p2.append(pl2)

placares = pd.DataFrame(list(zip(jogo,s1,p1,s2,p2,prob)), columns=['jogo','s1', 'p1', 's2','p2',' prob'])

In [84]:
placares.head()

                    jogo       s1 p1       s2  p2       prob
0  grupoASenegalxHolanda  Senegal  0  Holanda   1  11.814031
1    grupoACatarxEquador    Catar  1  Equador   1  11.195625
2    grupoACatarxSenegal    Catar  0  Senegal   1  11.517570
3  grupoAHolandaxEquador  Holanda  1  Equador   0  12.137818
4    grupoAHolandaxCatar  Holanda  2    Catar   0  15.300867

In [82]:
# exportar dataframe para planilha excel .xls
placares.to_excel('df_placares.xlsx')